
.header-block .title {
  padding-bottom: 0;
  margin-bottom: 10px;
}

.small-informations {
  color: #6F7886;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 24px;
  border-bottom: none;
}

.title-btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.title-btn-box button.submit-report {
  max-width: 170px;
  height: 40px;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #404DDC;

  &:hover {
    transition: 0.3s all;
    background-color: #0a00ff;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  }
}

//ACCORDION
::ng-deep.mat-expansion-panel-spacing {
  margin: 0!important;
}

::ng-deep.mat-expansion-panel-body {
  background-color: #F3F5F7;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  border: 1px solid #8080802b;
  border-bottom: none;
}

::ng-deep.payed .mat-expansion-panel-header.mat-expanded {
  background-color: initial!important;
}

::ng-deep.payed .mat-expansion-panel-body {
  background-color: #fff;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]):last-of-type {
  border-bottom: 1px solid #8080802b;
}

::ng-deep.mat-expansion-panel-header.mat-expanded {
  background-color: #F3F5F7!important;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0 40px 15px 75px!important;
  position: relative;
}

::ng-deep.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  align-items: center;
}

::ng-deep.mat-expansion-panel-header-description, .mat-expansion-panel-header-title[_ngcontent-xky-c1] {
  font-size: 14px
}

::ng-deep.mat-expansion-panel-header {
  min-height: 50px!important;
}

  //field
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: #9B9B9B;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 23px;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 2px!important;
}
::ng-deep .mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
  height: 2px!important;
}
::ng-deep input.mat-input-element {
  z-index: 1;
}
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #C9C9C9 !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #C9C9C9 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: #C9C9C9 !important;
}
::ng-deep .mat-progress-spinner svg {
  width: 50px!important;
  height: 50px!important;
}
::ng-deep .mat-progress-spinner {
  width: 50px!important;
  height: 50px!important;
}

//MODAL
::ng-deep .mat-dialog-container {
  padding: 0!important;
  overflow: visible!important;
}

::ng-deep .mat-dialog-actions {
  margin-bottom: 0!important;
}
::ng-deep .mat-dialog-actions[align=end] {
  justify-content: space-between!important;
}

::ng-deep .cdk-global-overlay-wrapper {
  justify-content: center!important;
}


.mat-dialog-actions {
  display: flex;
  justify-content: center;
}
