<app-header></app-header>
<div class="content" [@simpleFadeAnimation]="'in'">
  <div *ngIf="showSpinner" class="spinner-box">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>
  <div class="center-part" [ngClass]="{'hide-part' : coreService.menuOpen | async}">
    <div class="padding-help">
      <div class="content-inside-page">
        <div class="header-block">
          <div class="row">
            <div class="col-md-12">
              <div class="title-btn-box">
              <h1 class="title">Tariff Assignment</h1>
                <button class="submit-report">SUBMIT REPORT</button>
              </div>
              <div class="some-information-box">
                <div class="row">
                  <div class="col">
                    <div class="descriptions small-informations">Please assign a tariff from the available list to your account in order to report.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="units" class="accordeon-container payed">
              <div class="title-accordion">Tariff Available</div>
              <div class="filter-accordion">Name of music usage</div>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let unit of units">
                  <mat-expansion-panel-header (click)="expandUnit(unit.TRFF_GROUP)">
                    <mat-panel-title>
                      <img src="assets/image/orange-player.svg" alt="music">
                      {{unit.TRFF_NAME_ENG}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div class="music-start-desc">Music Usage Start Date</div>
                  <div class="music-start-date">{{unit.START_DATE | date}}</div>

                  <div class="add-assign-block music-start-desc">
                    Unit Name
                    <button class="tariff-unit" (click)="openDialogUnit(unit.TRFF_GROUP)"><span>+</span>Tariff Unit
                    </button>
                  </div>
                  <div *ngFor="let expand of unitExpand">
                    <div class="unit-item">
                      <img src="assets/image/star.svg"
                           [ngStyle]="{'display': checkRoomName(expand.ROOM_NAME)}"
                           alt="star">{{expand.ROOM_NAME}}
                    </div>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="accordeon-container">
              <form [formGroup]="dateForm">
              <div class="title-accordion">Tariff Available</div>
              <div class="filter-accordion">Name of music usage</div>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let tariff of tariffs">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    <img src="assets/image/music-icon-tariff.svg" alt="music">
                      {{tariff.TRFF_NAME_ENG}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <p [innerHtml]="tariff.TRFF_DESC_ENG">

                  </p>

                  <div class="add-assign-block">
                    <mat-form-field>
                      <input matInput [matDatepicker]="picker"
                             formControlName="date"
                             placeholder="Add Music Usage Start Date">
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>
                          <i class="material-icons">
                            date_range
                          </i></mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-datepicker #picker startView="year"></mat-datepicker>
                    </mat-form-field>
                    <button class="assign"
                            [disabled]="dateForm.invalid"
                            [ngClass]="{'btn-disabled' : dateForm.invalid}"
                            (click)="openDialogAssign(tariff.TRFF_GROUP)">Assign This Tariff</button>
                  </div>

                </mat-expansion-panel>
              </mat-accordion>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
