<div class="content" [@simpleFadeAnimation]="'in'">
  <div class="center-part" [ngClass]="{'hide-part' : coreService.menuOpen | async}">
    <div class="padding-help">
      <div class="content-inside-page">
        <div class="back-btn" [routerLink]="['/payments/payment-history']">
          <img src="assets/image/left-arrow.svg" alt="arrow">
        </div>
        <div class="content-inside" [ngClass]="{'hide-vertical' : coreService.menuOpen | async}">
          <div class="payment-successful">
            <div *ngIf="dataUser" class="payment-card">
              <div class="header-card">
                <div class="image-block">
                  <img src="assets/image/done-icon.svg" alt="dove">
                </div>
                <h1 class="title">Payment Successful!</h1>
                <div class="mat-small">Thank you for making your payment</div>
              </div>
              <div class="pay-content">
                <div class="wraper-flex">
                  <span class="mat-small">Confirmation #:</span>
                  <span class="description-portal">{{dataUser.ACCT_NO}}</span>
                </div>
                <div class="wraper-flex">
                  <span class="mat-small">Date and Time:</span>
                  <span class="description-portal">{{dataUser.PAYMENT_DATE | date}}{{dataUser.TRANS_DATE | date:'shortTime'}}</span>
                </div>
                <div class="wraper-flex">
                  <span class="mat-small">Paid by:</span>
                  <span class="description-portal">{{userName}}</span>
                </div>
              </div>
              <div class="pay-content without-line">
                <div class="wraper-flex">
                  <span class="mat-small">Transaction Number:</span>
                  <span class="description-portal">3432443252345</span>
                </div>
                <div class="wraper-flex">
                  <span class="mat-small">Paid Amount:</span>
                  <span class="description-portal">$33</span>
                </div>
                <div class="wraper-flex">
                  <span class="mat-small">Payment Method:</span>
                  <span class="description-portal">Credit Card
                                <img *ngIf="false" src="assets/image/visa.svg" alt="credit">
                                <img *ngIf="true" src="assets/image/mastercard.svg" alt="credit">
                                <img *ngIf="false" src="assets/image/jcb.svg" alt="credit">
                                <img *ngIf="false" src="assets/image/diners-club.svg" alt="credit">
                                <img *ngIf="false" src="assets/image/american-express.svg" alt="credit">
                </span>
                </div>
                <div class="wraper-flex">
                  <span class="mat-small">Card Number:</span>
                  <span class="description-portal">**** **** **** 2342</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

