.content-inside {
  max-width: 600px;
}

.payment-successful {
  display: flex;
  justify-content: center;
  align-items: center;

  .payment-card {
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.29);
    border-radius: 5px;

    .header-card {
      padding-bottom: 10px;
      margin-bottom: 10px;

      .image-block {
        display: flex;
        justify-content: center;

        & img {
          width: 50px;
        }
      }

      .title {
        font-size: 19px;
      }

      .title, .mat-small {
        text-align: center;
        margin-bottom: 10px;
      }
    }

    .pay-content {
      border-bottom: 1px solid rgba(0, 0, 0, 0.29);
      margin-bottom: 10px;

      .wraper-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .description-portal {
          & img {
            width: 40px;
          }
        }
      }
    }

    .without-line {
      border-bottom: none;
    }

    .recip-content {
      margin-bottom: 30px;

      .mat-dialog-title {
        margin-bottom: 10px;
      }
    }

    .btn-box {
      display: flex;
      justify-content: center;
    }
  }
}

.back-btn {
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(155, 155, 155, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  outline: none;

  & img {
    width: 20px;
  }

  &:hover {
    transition: 0.3s ease-in-out;
    background-color: rgba(155, 155, 155, 0.36);
    border-color: rgba(63, 81, 181, 0);
  }
}

@media screen and (max-width: 767px) {
  .payment-card {
    padding: 15px !important;
  }

}
