<div class="content" [@simpleFadeAnimation]="'in'">
  <div *ngIf="showSpinner" class="spinner-box">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>
  <div class="left-part">
    <div class="border-left"></div>
    <div class="vertical-help">
      <div *ngIf="generalContent" class="content-inside">
        <div class="open-titles-box">
          <h1 class="title">Register Now</h1>
          <span class="description">Please provide the following information to register as:</span>
        </div>
        <form  [formGroup]="form">
          <div class="row">
            <div class="col-md-4">
              <div class="first-choose">
                <input
                  (click)="toggleRadio()"
                  type="radio" id="test1"
                  name="radio-group"
                  checked class="radio-input">
                <label for="test1" class="radio-label">New Licensee</label>
              </div>
            </div>
            <div class="col">
              <div class="second-choose">
                <input type="radio" id="test2"
                       (click)="toggleRadio()"
                       name="radio-group"  class="radio-input">
                <label for="test2" class="radio-label">SOCAN / Re:Sound Licensee</label>
              </div>
            </div>
          </div>

          <div *ngIf="!radioChecked" [formGroup]="form3">
            <div class="padding">
              <div class="row">
                <div class="col">
                  <span class="text-establish">Account Information</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="email"
                           placeholder="Email Address or Account Number">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="padding">
              <div class="row">
                <div class="col">
                  <span class="text-establish">Create Password</span>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             formControlName="password"
                             maxlength="20"
                             type="password"
                             placeholder="Password">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             type="password"
                             formControlName="passwordRepeat"
                             placeholder="Repeat Password">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="include-container">
                  <span class="title-include">Password must include:</span>
                  <div class="space"></div>
                  <div class="left">
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="checkLengthPasswordForm3()"
                            />
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">8-20 Characters</span>
                    </div>
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passwordHasLetter(form3.get('password').value)"/>
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">At least one capital letter</span>
                    </div>
                  </div>
                  <div class="right">
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passwordHasNumber(form3.get('password').value)"/>
                          <label></label></div>
                      </span>
                      <span class="mark">At least one number</span>
                    </div>
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passworHasntSpace(form3.get('password').value)"/>
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">No spaces</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <mat-label>How did you hear about Entandem?</mat-label>
                    <select
                      formControlName="hearAbout"
                      matNativeControl
                      (click)="checkHearAboutOther(form3.get('hearAbout').value)">
                      <option value="Advertisement">Advertisement</option>
                      <option value="Advertisement">Brochure / Flyer</option>
                      <option value="Advertisement">News / Mediar</option>
                      <option value="Advertisement">Referral</option>
                      <option value="O">Other</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf="otherValue"  class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           type="text"
                           formControlName="hearAboutOther"
                           placeholder="Please provide additional information (optional)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="registr-btn-bpx">
              <button
                type="button"
                (click)="onSubmit2()"
                [disabled]="form3.invalid"
                [ngClass]="{'btn-disabled' : form3.invalid}"
                class="registration">Register Now</button>
            </div>
          </div>

          <div *ngIf="radioChecked">
            <div class="padding">
              <div class="row">
                <div class="col">
                  <span class="text-establish">Establishment Information</span>
                </div>
              </div>
            </div>
            <div  class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="establishmentName"
                           placeholder="Business Name">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="establishmentStreet"
                           placeholder="Street Address">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div  class="row">
              <div class="col-md-5">
                <div class="field-material">
                  <mat-form-field>
                    <mat-label>Province</mat-label>
                    <mat-select  formControlName="establishmentProvince">
                      <mat-option value="AB">Alberta</mat-option>
                      <mat-option value="BC">British Columbia</mat-option>
                      <mat-option value="MB">Manitoba</mat-option>
                      <mat-option value="NB">New Brunswick</mat-option>
                      <mat-option value="NL">Newfoundland and Labrador</mat-option>
                      <mat-option value="NT">Northwest Territories</mat-option>
                      <mat-option value="NS">Nova Scotia</mat-option>
                      <mat-option value="NU">Nunavut</mat-option>
                      <mat-option value="ON">Ontario</mat-option>
                      <mat-option value="PE">Prince Edward Island</mat-option>
                      <mat-option value="QC">Quebec</mat-option>
                      <mat-option value="SK">Saskatchewan</mat-option>
                      <mat-option value="YT">Yukon</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-7">
                <div class="padding-mobile">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             formControlName="establishmentCity"
                             placeholder="City">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="establishmentPostalCode"
                           placeholder="Postal Code">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="square">
                  <input type="checkbox" id="checkboxSquare" />
                  <label for="checkboxSquare" (click)="toggleMailingInfo()"></label>
                  <div>
                    <span class="text-label-check">My mailing address is different from establishment information </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="radio-box">
              <div *ngIf="mailingInfo" [formGroup]="form2">
                <div class="padding">
                  <div class="row">
                    <div class="col">
                      <span class="text-establish">Mailing Information</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="field-material">
                      <mat-form-field>
                        <mat-label>Province</mat-label>
                        <mat-select  formControlName="mailingProvince">
                          <mat-option value="AB">Alberta</mat-option>
                          <mat-option value="BC">British Columbia</mat-option>
                          <mat-option value="MB">Manitoba</mat-option>
                          <mat-option value="NB">New Brunswick</mat-option>
                          <mat-option value="NL">Newfoundland and Labrador</mat-option>
                          <mat-option value="NT">Northwest Territories</mat-option>
                          <mat-option value="NS">Nova Scotia</mat-option>
                          <mat-option value="NU">Nunavut</mat-option>
                          <mat-option value="ON">Ontario</mat-option>
                          <mat-option value="PE">Prince Edward Island</mat-option>
                          <mat-option value="QC">Quebec</mat-option>
                          <mat-option value="SK">Saskatchewan</mat-option>
                          <mat-option value="YT">Yukon</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="padding-mobile">
                      <div class="field-material">
                        <mat-form-field>
                          <input matInput
                                 formControlName="mailingCity"
                                 placeholder="City">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="field-material">
                      <mat-form-field>
                        <input matInput
                               formControlName="mailingStreet"
                               placeholder="Street Address">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="field-material">
                      <mat-form-field>
                        <input matInput
                               formControlName="mailingPostalCode"
                               placeholder="Postal Code">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding-personal">
              <div class="row">
                <div class="col">
                  <span class="text-establish">Personal Information</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="firstName"
                           placeholder="First Name">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="padding-mobile">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             formControlName="lastName"
                             placeholder="Last Name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="email"
                           placeholder="Email Address">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           formControlName="phone"
                           placeholder="Phone Number">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="padding-mobile">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             formControlName="fax"
                             placeholder="Fax Number (Optional)">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="padding">
              <div class="row">
                <div class="col">
                  <span class="text-establish">Create Password</span>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             formControlName="password"
                             maxlength="20"
                             type="password"
                             placeholder="Password">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="field-material">
                    <mat-form-field>
                      <input matInput
                             type="password"
                             formControlName="passwordRepeat"
                             placeholder="Repeat Password">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="include-container">
                  <span class="title-include">Password must include:</span>
                  <div class="space"></div>
                  <div class="left">
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="checkLengthPassword()"/>
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">8-20 Characters</span>
                    </div>
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passwordHasLetter(form.get('password').value)"/>
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">At least one capital letter</span>
                    </div>
                  </div>
                  <div class="right">
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passwordHasNumber(form.get('password').value)"/>
                          <label></label></div>
                      </span>
                      <span class="mark">At least one number</span>
                    </div>
                    <div class="item">
                      <span>
                        <div class="round">
                          <input
                            type="checkbox"
                            [checked]="passworHasntSpace(form.get('password').value)"/>
                          <label></label>
                        </div>
                      </span>
                      <span class="mark">No spaces</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <mat-label>How did you hear about Entandem?</mat-label>
                    <select
                      formControlName="hearAbout"
                      matNativeControl
                      (click)="checkHearAboutOther(form.get('hearAbout').value)">
                      <option value="Advertisement">Advertisement</option>
                      <option value="Advertisement">Brochure / Flyer</option>
                      <option value="Advertisement">News / Mediar</option>
                      <option value="Advertisement">Referral</option>
                      <option value="O">Other</option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div *ngIf="otherValue"  class="row">
              <div class="col-md-12">
                <div class="field-material">
                  <mat-form-field>
                    <input matInput
                           type="text"
                           formControlName="hearAboutOther"
                           placeholder="Please provide additional information (optional)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="registr-btn-bpx">
              <button
                type="button"
                (click)="onSubmit()"
                [disabled]="form.invalid || form2.invalid"
                [ngClass]="{'btn-disabled' : form.invalid || form2.invalid}"
                class="registration">Register Now</button>
            </div>
          </div>
        </form>
        <div class="to-login-box">
          <span>Already registered?</span>
          <a [routerLink]="['/auth/login']" class="text-helper">login</a>
        </div>
      </div>
      <div *ngIf="thanksContent" class="message-container">
        <img src="assets/image/success.svg" alt="success" style="width: 46px; padding-bottom: 20px">
        <h1 class="title margin-bottom">Thank You!</h1>
        <div class="description">We have sent you a verification email. Please check your inbox to confirm your account. </div>
        <div class="description">Haven’t received a confirmation email yet? </div>
        <a href="" class="text-helper">Resend Verification Link</a>
      </div>
      <div *ngIf="errorContent" class="message-container">
        <h1 class="title margin-bottom">An Unexpected Error Occurred</h1>
        <div class="description-err">You can’t access your account at this time. Please, contact us:</div>
        <a href="#" class="support-link">support@entandem.ca</a>
        <div class="or-space-err">OR</div>
        <a href="#" class="support-link">1-877-575-8208</a>
      </div>
    </div>
  </div>
  <div class="right-part">
    <video type="video/mp4" autoplay loop>
      <source src="assets/image/login.mp4">
    </video>
  </div>
</div>
