header {
  background-color: #FFFFFF;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, .08);
}

header .toggle-language {
  top: 21px;
  right: 80px;
}

header .btn-logout {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 40px;
  height: 40px;
  background-color: #3E4254;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;

  & img {
    width: 10px;
    position: absolute;
    left: 45px;
  }
}

header .btn-logout:hover {
  transition: 0.3s ease-in-out;
  background-color: #0a00ff;
}

header .btn-logout .info-user {
  color: #FFFFFF;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #FF6743;
  width: 200px;
  height: 100%;
  z-index: 1;
}

nav .background-hover {
  width: 35px;
  height: 35px;
  background-color: rgba(243, 245, 247, 0.28);
  display: flex;
  border-radius: 100%;
  justify-content: center;
}

nav .hide-background {
  background-color: rgba(176, 0, 32, 0);
}

nav .active-arrow {
  transform: rotate(180deg);
  transition: 0.3s;
}

nav .sub-menu {
  padding: 15px 0 15px 46px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

nav .sub-menu:hover {
  background-color: #b0441f;
}

nav.menu-bar {
  margin-top: 60px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

nav.menu-bar .menu-item, nav.menu-bar .dash-item{
  padding: 20px 0 20px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav.menu-bar .menu-item img {
  max-width: 16px;
}
nav.menu-bar .menu-item-dash img {
  max-width: 30px;
}
nav.menu-bar .dash-item img {
  max-width: 30px;
}

nav.menu-bar .dash-item {
  background-color: #ff4d26;
}

nav.menu-bar .menu-item span, nav.menu-bar .dash-item span {
  margin: 0 10px;
}

nav.menu-bar .menu-item .arrow-icon {
  margin-right: 0;
  position: absolute;
  right: 10px;
}

.showPanel {
  height: 70px;
  overflow-y: hidden;
}

.transform {
  transition: 0.3s;
  transform: rotate(360deg) !important;
}

@media screen and (max-width: 767px) {
  .menu-container {
    transition: 0.2s ease-in;
  }
}

::ng-deep .mat-menu-panel {
  min-width: 175px !important;
}

::ng-deep .mat-menu-content {
  background-color: #3E4254;
}

::ng-deep .mat-menu-item {
  color: #ffffff;
  padding: 0 20px !important;
}

::ng-deep .mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  background-color: rgba(0, 0, 0, 0.65);
}

::ng-deep .cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  opacity: initial !important;
}

::ng-deep .cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.13) !important;
}

.last-item {
  margin-top: 20px;
}

.last-item img {
  width: 18px;
  padding-right: 5px;
  margin-bottom: 5px;
}
