<header>
  <div class="hamburger-menu cross" (click)="toggleMenu()" [ngClass]="{'cross' : hamburgerMenu}">
    <div></div>
    <div></div>
    <div></div>
  </div>
  <a class="logo">
    <img src="/assets/image/entandem_tagline_logo.svg" alt="logo">
  </a>
  <div class="description-portal">
    Licensing Portal
  </div>
  <div class="toggle-language">
    <span class="text-helper hover-text">EN</span>
    <div class="rectangle"></div>
    <span class="hover-text">FR</span>
  </div>
  <div class="btn-logout">
    <div mat-button [matMenuTriggerFor]="menu" class="info-user">{{userInfo.FIRST_NAME}}{{userInfo.LAST_NAME}}</div>
    <mat-menu #menu="matMenu">
      <div mat-menu-item>My Account</div>
      <div mat-menu-item>Assign Tariff</div>
      <div mat-menu-item
           (click)="logOut()"
           [routerLink]="['/auth/login']"
           class="last-item"><img src="../../../assets/image/sign-out.svg" alt="">Sign Out</div>
    </mat-menu>
  </div>
</header>
<div *ngIf="!hamburgerMenu"  [@slideAnimation] class="menu-container">
  <nav class="menu-bar">
    <div id="2" (click)="expandFirst(id=1)" [ngClass]="{'showPanel': !expandedSectionFirst }" >
      <div class="menu-item">
        <div class="background-hover hide-background">
          <img src="/assets/image/closed-envelope.svg" alt="img">
        </div>
        <span>Reports</span>
        <img src="/assets/image/arrow-point-to-down.svg" alt="arrow" class="arrow-icon active-arrow" [ngClass]="{'transform': !expandedSectionFirst }">
      </div>
      <div class="sub-menu">Submit New</div>
      <div class="sub-menu">Drafts</div>
      <div class="sub-menu">Submitted</div>
    </div>
    <div id="1" (click)="expandSecond(id=1)" [ngClass]="{'showPanel': !expandedSectionSecond }" >
      <div class="menu-item">
        <div class="background-hover">
          <img src="/assets/image/closed-envelope.svg" alt="img">
        </div>
        <span>Payments</span>
        <img src="/assets/image/arrow-point-to-down.svg" alt="arrow" class="arrow-icon active-arrow" [ngClass]="{'transform': !expandedSectionSecond}">
      </div>
      <div class="sub-menu">Make a Payment</div>
      <div class="sub-menu">Payment History</div>
    </div>

    <div class="menu-item">
      <div class="background-hover hide-background">
        <img src="/assets/image/closed-envelope.svg" alt="img">
      </div>
      <span>Invoices</span>
    </div>
    <div class="menu-item">
      <div class="background-hover hide-background">
        <img src="/assets/image/closed-envelope.svg" alt="img">
      </div>
      <span>Statements</span>
    </div>
    <div class="menu-item"> <div class="background-hover hide-background">
      <img src="/assets/image/closed-envelope.svg" alt="img">
    </div><span>Support</span>
    </div>
  </nav>
</div>
