<div class="content" [@simpleFadeAnimation]="'in'">
  <div *ngIf="isLoadingResults || isRateLimitReached" class="spinner-box">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="center-part" [ngClass]="{'hide-part' : coreService.menuOpen | async}">
    <div class="padding-help">
      <div class="content-inside-page">
        <h1 class="title">Payments</h1>
        <div class="row">
          <div class="col md-12">
            <div class="table-block">
              <div class="search-block">
                <form [formGroup]="form">
                  <div class="row">
                    <div class="col-md-5" [ngClass]="{'hack-search' : !isOpenConfig}">
                      <div class="field-material hack-for-search" [ngClass]="{'open-search' : !isOpenSearch}">
                        <div class="search-icon-box">
                          <img src="assets/image/search.svg" alt="search" (click)="toggleSearch()">
                        </div>
                        <mat-form-field>
                          <input matInput [ngModel]='searchValue'
                                 (ngModelChange)='changed($event)'
                                 formControlName="search"
                                 placeholder="Search">
                        </mat-form-field>
                        <img *ngIf="isOpenSearch" class="cancel" src="assets/image/cancel.svg" alt="cancel"
                             (click)="clearSearch()">
                      </div>
                    </div>
                    <div *ngIf="isOpenConfig" class="col-md-2">
                      <div class="field-material">
                        <mat-form-field>
                          <mat-label>Toppings</mat-label>
                          <mat-select multiple
                                      formControlName="sort">
                            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="isOpenConfig" class="col-md-2">
                      <div class="field-material">
                        <mat-form-field>
                          <input matInput [matDatepicker]="picker"
                                 readonly
                                 disabled
                                 formControlName="startDate"
                                 placeholder="Start a date">
                          <mat-datepicker-toggle
                            *ngIf="!startDateCloseIcon"
                            matSuffix [for]="picker">
                            <mat-icon matDatepickerToggleIcon>
                              <i class="material-icons" >
                                date_range
                              </i></mat-icon>
                          </mat-datepicker-toggle>
                          <div *ngIf="startDateCloseIcon" (click)="clearValueFieldStart()">
                            <img class="cancel cancel-date" src="assets/image/cancel.svg" alt="cancel">
                          </div>
                          <mat-datepicker disabled="false" #picker></mat-datepicker>
                          <mat-datepicker  disabled="false" #picker startView="month"></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="isOpenConfig" class="col-md-2 small-hack-1">
                      <div class="field-material">
                        <mat-form-field>
                          <input readonly matInput [matDatepicker]="picker2"
                                 formControlName="endDate"
                                 placeholder="End a date">
                          <mat-datepicker-toggle *ngIf="!endDateCloseIcon" matSuffix [for]="picker2">
                            <mat-icon matDatepickerToggleIcon>
                              <i class="material-icons">
                                date_range
                              </i>
                            </mat-icon>
                          </mat-datepicker-toggle>
                          <div *ngIf="endDateCloseIcon" (click)="clearValueFieldEnd()">
                            <img class="cancel cancel-date" src="assets/image/cancel.svg" alt="cancel">
                          </div>
                          <mat-datepicker #picker2></mat-datepicker>
                          <mat-datepicker #picker2 startView="month"></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-md-1 small-hack-2" [ngClass]="{'open-config' : !isOpenConfig}">
                      <div class="config-search-box">
                        <div class="config-icon">
                          <img src="assets/image/configuration.svg" alt="config-search" (click)="toggleConfig()">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div>
                <table mat-table
                       [dataSource]="newData"
                       matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
                  <ng-container class="hover-table" matColumnDef="menu">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td data-label="" mat-cell *matCellDef="let element">
                      <div class="edit-icon" [matMenuTriggerFor]="edit">
                        <span></span><span></span><span></span>
                        <mat-menu #edit="matMenu">
                          <button mat-menu-item>Edit Contact</button>
                        </mat-menu>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container class="hover-table" matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date</th>
                    <td data-label="Date" mat-cell *matCellDef="let element"> {{element.PAYMENT_DATE | date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Time">
                    <th mat-header-cell *matHeaderCellDef> Time</th>
                    <td data-label="Time" mat-cell
                        *matCellDef="let element"> {{element.TRANS_DATE | date:'shortTime'}} </td>
                  </ng-container>
                  <ng-container matColumnDef="pay#">
                    <th mat-header-cell *matHeaderCellDef> Pay #</th>
                    <td data-label="Pay  #" mat-cell *matCellDef="let element"><a [routerLink]="['/payments/successful/', element.AUTHORIZATION_NO]"> {{element.ACCT_NO}} </a></td>
                  </ng-container>
                  <ng-container matColumnDef="paid by">
                    <th mat-header-cell *matHeaderCellDef> Paid by</th>
                    <td data-label="Paid by" mat-cell
                        *matCellDef="let element" >{{sentUserName(element.FIRST_NAME, element.LAST_NAME)}} {{element.FIRST_NAME}}  {{element.LAST_NAME}}</td>
                  </ng-container>
                  <ng-container matColumnDef="Type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td data-label="Type" mat-cell *matCellDef="let element"> Credit Card</td>
                  </ng-container>
                  <ng-container matColumnDef="amount(CAD)">
                    <th mat-header-cell *matHeaderCellDef> Amount (CAD$)</th>
                    <td data-label="Amount (CAD$)" mat-cell *matCellDef="let element"> {{element.PAYMENT_AMT}} </td>
                  </ng-container>
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status</th>
                    <td data-label="Status" mat-cell
                        [ngStyle]="{'color' : element.status.color }"
                        *matCellDef="let element"> {{element.status.text}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 30]"
                               showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
