.center-part {
  background: linear-gradient(180deg, #FAF9F9 0%, #F4F4F4 100%);
  padding-left: 200px;
  position: relative;
  min-height: 100vh;
  padding-top: 90px;
}
.hide-part {
  padding-left: 0;
}

.padding-help {
  padding: 0 30px;
}
.header-block .title {
  margin-bottom: 30px;
}
.some-information-box {

  .descriptions {
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    color: #3E4254;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .user-detail-wrap {
    margin-bottom: 10px;

    .user-detail {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .block {

        .block-items {
          margin-bottom: 10px;

          .item-small {
            color: #6F7886;
            font-family: "Rubik", sans-serif;
            font-size: 12px;
            line-height: 14px;
          }
          .item-large {
            color: #3E4254;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            line-height: 40px;
          }
        }
      }
    }
  }
  .email-block {
    margin-bottom: 30px;

    .block-items {

      .item-small {
        color: #6F7886;
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        line-height: 14px;
      }
      .item-large {
        color: #3E4254;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 40px;
      }
    }
  }
}

.table-block {
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid rgba(155, 155, 155, 0.28);

  .search-block {
    border-bottom: 1px solid rgba(111, 120, 134, 0.45);

    .search-padding {
      display: flex;
      align-items: center;
      padding: 20px;

      .left {
        width: 100%;
        display: flex;
        padding-right: 5px;

        .search-img img {
          width: 20px;
          cursor: pointer;
        }

        input[type='search'] {
          border: none;
          border-bottom: 1px solid #6F7886;
          outline: none;
          width: 100%;
          margin-left: 5px;
          transition: 0.3s ease-in-out;
        }

        input.show-input {
          width: 0;
          overflow-x: hidden;
        }
      }

      .right {

        button.new-contact {
          height: 38px;
          width: 139px;
          color: #404DDC;
          font-family: 'Rubik', sans-serif;
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
          line-height: 15px;
          text-align: center;
          background-color: #FFFFFF;
          border: 1px solid rgba(111, 120, 134, 0.4);
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: #404DDC;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
//
//table td, table th {
//  border-bottom: 1px solid rgba(155, 155, 155, 0.22) !important;
//}
//
//table .th-top {
//  font-weight: 400;
//  color: #9B9B9B;
//}
//
//table .th-bottom {
//  font-weight: 400;
//  color: #3E4254;
//  font-size: 14px;
//}
//
//table td {
//  color: #3E4254;
//  font-family: 'Rubik', sans-serif;
//  font-size: 14px;
//
//  & .star {
//    width: 10px;
//    margin-left: 10px;
//    display: none;
//  }
//}

.show-star {
  display: block!important;
}

.show-primary-delete {
  display: none!important;
}

.edit-icon {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin: 1px;
  }
}

.hover-table:hover {
  background-color: rgba(111, 120, 134, 0.16);
  transition: 0.2s;

  .edit-icon span{

    background-color: #6F7886;
    cursor: pointer;
  }
}

.padding-left-title {
  padding-left: 10px;
}

.pagination-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 20px 0;

  .letter-pages {

    padding-right: 20px;
    span {
      padding: 0 1px;
      color: #6F7886;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      line-height: 14px;
    }
    .of-letter {
      padding: 0 3px;
    }
  }

  .arrows-box {
    width: 80px;
    display: flex;
    justify-content: space-between;

    .part {
      display: flex;
      width: 25px;
      justify-content: space-between;

      .big-play-box {
        display: flex;
        width: 11px;
        justify-content: space-between;
        cursor: pointer;


        .line {
          width: 1px;
          height: 10px;
          border: 1px solid #6F7886;
        }

      }
    }
    .arrow-box {
      position: relative;
      width: 6px;
      height: 10px;
      overflow: hidden;
      padding-left: 2px;
      cursor: pointer;

      .arrow {
        width: 10px;
        height: 10px;
        border: 2px solid #6F7886;
        transform: rotate(130deg);
      }
    }

    .arrow-box-right {
      position: relative;
      width: 10px;
      height: 10px;
      overflow: hidden;
      cursor: pointer;
    }

    .arrow-right {
      width: 10px;
      height: 10px;
      border: 2px solid #6F7886;
      transform: rotate(130deg);
      position: absolute;
      left: -4px;
    }
  }
}

.field-material > * {
  width: 100%;
  margin-bottom: 20px;
}
.description-card {
  color: #6F7886;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px
}

@media screen and (max-width: 880px) {
  .center-part {
    padding-left: 0;
  }
  .padding-help {
    padding: 0 15px;
  }
}
//ACCORDEON
.accordeon-container {
  background-color: #fff;
  margin-bottom: 20px;
}

.border-accordion {
  border-top: 1px solid rgba(128, 128, 128, 0.35);
}

.accordeon-container img.player{
  max-width: 30px;
  margin-right: 20px;
}

.accordeon-container p {
  color: #6F7886;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.accordeon-container .add-assign-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.accordeon-container .add-assign-block button.assign {
  max-width: 170px;
  height: 40px;
  color: #FFFFFF;
  font-family: 'Rubik';
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #404DDC;
  transition: 0.3s all;

  &:hover {
    transition: 0.3s all;
    background-color: #0a00ff;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
  }
}

.accordeon-container .add-assign-block button.tariff-unit {
  max-width: 160px;
  height: 40px;
  color: #404DDC;
  font-family: 'Rubik';
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #fff;
  transition: 0.3s all;
  border: 1px solid rgba(128, 128, 128, 0.4);

  &:hover {
    transition: 0.3s all;
    background-color: #0a00ff;
    color: #fff;
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid #0a00ff;
  }
}

.accordeon-container .title-accordion {
  position: relative;
  color: #3E4254;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  padding: 15px 23px;
  border: 1px solid #8080802b;
}

.accordeon-container .filter-accordion,
.accordeon-container .music-start-desc {
  color: #6F7886;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 24px;
  padding: 15px 23px;
  border-left: 1px solid #8080802b;
  border-right: 1px solid #8080802b;
}

.accordeon-container .music-start-desc {
  padding: 8px 0;
  border: none;
 }

.accordeon-container .music-start-date {
  color: #3E4254;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.accordeon-container .unit-item {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid rgba(128, 128, 128, 0.31);
}

.accordeon-container .unit-item:after {
  position: absolute;
  content: "";
  width: 43px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  top: -1px;
  left: -43px;
}

.accordeon-container .unit-item img{
  position: absolute;
  left: -35px;
  width: 10px;
  top: 15px;
}



