<app-header></app-header>
<div class="content" [@simpleFadeAnimation]="'in'">
  <div *ngIf="showSpinner" class="spinner-box">
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
  </div>
  <div class="alert alert-success" role="alert" [ngClass]="{'toggle-alert': coreService.alertMessageSuccess | async}">
    Success!
  </div>
  <div class="alert alert-danger" role="alert" [ngClass]="{'toggle-alert': coreService.alertMessageError | async}">
    Error!
  </div>
  <div class="center-part" [ngClass]="{'hide-part' : coreService.menuOpen | async}">
    <div class="padding-help">
      <div class="content-inside-page">
        <div class="header-block">
          <div class="row">
            <div class="col-md-12">
              <h1 class="title">My Account</h1>
              <div class="some-information-box">
                <div class="row">
                  <div class="col">
                    <div class="descriptions">Profile Information
                      <div class="hover-icon" (click)="openDialogProfile()">
                        <img src="assets/image/pencil.svg" alt="pen" class="hover-text">
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="user" class="user-detail-wrap">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="user-detail">
                        <div class="block">
                          <div class="block-items">
                            <div class="item-small">Business Name:</div>
                            <div class="item-large">{{user.BUSINESS_NAME}}</div>
                          </div>
                          <div class="block-items">
                            <div class="item-small">Address:</div>
                            <div class="item-large">{{user.ADDRESS}}</div>
                          </div>
                        </div>
                        <div class="block">
                          <div class="block-items">
                            <div class="item-small">Account #:</div>
                            <div class="item-large">{{user.ACCT_NO}}</div>
                          </div>
                          <div class="block-items">
                            <div class="item-small">City:</div>
                            <div class="item-large">{{user.CITY}}</div>
                          </div>
                        </div>
                        <div class="block">
                          <div class="block-items">
                            <div class="item-small">Phone Number:</div>
                            <div class="item-large">{{user.PHONE}}</div>
                          </div>
                          <div class="block-items">
                            <div class="item-small">Province:</div>
                            <div class="item-large">{{user.PROVINCE}}</div>
                          </div>
                        </div>
                        <div class="block">
                          <div class="block-items">
                            <div class="item-small">Postal Code</div>
                            <div class="item-large">{{user.POSTAL_CODE}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="descriptions">Email Address
                      <div class="hover-icon" (click)="openDialog()">
                        <img src="assets/image/pencil.svg" alt="pen" class="hover-text">
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="user" class="email-block">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-items">
                        <div class="item-small">Email Address:</div>
                        <div class="item-large">{{user.EMAIL}}</div>
                      </div>
                      <div class="receive-block">
                        <div class="square">
                          <input
                            type="checkbox"
                            [checked] = "numberPromotion"
                            (click)="togglePromotion()"
                            id="checkbox-square"/>
                          <label for="checkbox-square"></label>
                        </div>
                          <label for="checkbox-square" class="receive">Receive Promotional Emails</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="descriptions">Password
                      <div class="hover-icon"  (click)="openDialogPassword()">
                        <img src="assets/image/pencil.svg" alt="pen" class="hover-text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="descriptions">Contact Information
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col md-12">
            <div class="table-block">
             <div class="search-block">
               <div class="search-padding">
                 <div class="left">
                   <div class="search-img">
                     <img src="assets/image/search.svg" alt="search" (click)="toggleSearch()">
                   </div>
                   <input type="search" id="search"
                          placeholder="Account Name"
                          [ngClass]="{'show-input' : showSearch}">
                 </div>
                 <div class="right">
                   <button type="button" class="new-contact" (click)="openDialogContact()">+ New Contact</button>
                 </div>
               </div>
             </div>
              <div class="table-responsive-md">
                <table class="table table-borderless">
                  <thead>
                  <tr>
                    <th scope="col" class="th-top description-card"></th>
                    <th scope="col" class="th-top description-card">First Name</th>
                    <th scope="col" class="th-top description-card">Last Name</th>
                    <th scope="col" class="th-top description-card">Email</th>
                    <th scope="col" class="th-top description-card">Phone</th>
                    <th scope="col" class="th-top description-card"></th>
                  </tr>
                  </thead>
                  <tbody *ngIf="tableResult">
                  <tr *ngFor="let contact of accountContacts" class="hover-table">
                    <td data-label="" scope="row" class="th-bottom">
                      <img src="assets/image/star.svg" alt="star" class="star" [ngClass]="{'show-star' : showPrimaryInTable(contact.PRIMARY_CONTACT)}">
                    </td>
                    <td data-label="First Name" scope="row" class="th-bottom">{{contact.CONTACT_FIRST_NAME}}</td>
                    <td data-label="Last Name">{{contact.CONTACT_LAST_NAME}}</td>
                    <td data-label="Email">{{contact.E_MAIL}}</td>
                    <td data-label="Phone">{{contact.EPR_PHONE_NO}}</td>
                    <td data-label="">
                      <div class="edit-icon" [matMenuTriggerFor]="edit">
                        <span></span><span></span><span></span>
                        <mat-menu #edit="matMenu">
                          <button mat-menu-item (click)="openDialogPrimary(contact.CONTACT_ID)" [ngClass]="{'show-primary-delete' : showPrimaryInTable(contact.PRIMARY_CONTACT)}">Make as Primary Contact</button>
                          <button mat-menu-item (click)="openDialogContactEdit(contact.CONTACT_ID, contact.CONTACT_FIRST_NAME, contact.CONTACT_LAST_NAME, contact.E_MAIL, contact.EPR_PHONE_NO)">Edit Contact</button>
                          <button mat-menu-item (click)="openDialogDelete(contact.CONTACT_ID)" [ngClass]="{'show-primary-delete' : showPrimaryInTable(contact.PRIMARY_CONTACT)}">Delete Contact</button>
                        </mat-menu>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div class="pagination-box">
                  <div class="letter-pages">
                    <span>1</span>
                    <span>-</span>
                    <span>4</span>
                    <span class="of-letter">of</span>
                    <span>4</span>
                  </div>
                  <div class="arrows-box">
                    <div class="part">
                      <div class="big-play-box">
                        <div class="line"></div>
                        <div class="arrow-box">
                          <div class="arrow"></div>
                        </div>
                      </div>
                      <div class="arrow-box">
                        <div class="arrow"></div>
                      </div>
                    </div>
                    <div class="part">
                      <div class="arrow-box-right">
                        <div class="arrow-right"></div>
                      </div>
                      <div class="big-play-box">
                        <div class="arrow-box-right">
                          <div class="arrow-right"></div>
                        </div>
                          <div class="line"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
